@primaryColor: #383939;
@secondaryColor: #66bbe3;

background-color: @primaryColor;
color: @secondaryColor;

body {
  margin: 0 auto;
  width: 85%;
  font: 13px/22px Trebuchet MS, Helvetica, Arial, sans-serif;
  background: 
  url("/static/images/head_spotlight.png")  no-repeat 0px -50px,
  #232323 url("/static/images/bg_noise.gif") repeat;
}