@tag-background:#000000;
@tag-color:#FFFFFF;
@tag-background-light:#E2E2E2;
@tag-hover:#424242;
@general-font-size:15px;
@link-highlight:#00ff00;
@tag-border-radius:5px; 
@general-border-radius:5px;  
@nav-size:28px;   
@h2-font-size:28px;  
@h1-font-size:28px; 
@h3-font-size:20px; 
@validate-error:#424242;    
@content-margin:10px; 
@link-color:#000000;


/* Tell the browser to render HTML 5 elements as block */
section, header, footer, aside, nav, article {
	display: block;
}

body { 
	padding: 0;	
	margin: 0 auto;
	width: 85%;
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: @general-font-size;
	background: 
	url("/static/images/head_spotlight.png")  no-repeat 0px -50px,
	#232323 url("/static/images/bg_noise.gif") repeat;
}  

#where img{
	width:100%;
}
  
#admin {         
	background-color:#FFFFFF;
	opacity:.3;
	border-bottom-left-radius: @general-border-radius;
	border-bottom-right-radius: @general-border-radius;
	padding:5px;	 	
}

nav ul {  
	li {
		font-size:@nav-size;
		list-style: none; 
		margin-right: 20px;
		float: left;
	}	
	 a, li {
		color:#ffffff;
		text-decoration: none;
	}
	#syndicate a {
		text-decoration: none;
		font-weight:light;
	}
	#active a {
		color:@link-highlight;
		text-decoration: none;
	}
}

ul {
	padding: 0px;
}                      

p a {
	color:@link-color;
	font-weight:bold;
	text-decoration: none;
	display:inline;       
	&:hover{
		text-decoration: underline;
	}
} 

h1 {
	font-size:@h1-font-size;
	margin:0px;
	a {
		font-size:@h1-font-size;
		color:#FFFFFF;
		text-decoration:none;
	}
	a:hover {
		text-decoration:underline;
	}
}

h2 {
	font-size:@h2-font-size;
	line-height: 44px;
	display:inline;
	a {
		text-decoration:none;
		color:#000000;
	} 
}

h3 {
	font-size:@h3-font-size;
	line-height: 0;
//	margin-top:20px;
}           

#what p {
	margin-bottom:5px;
}

#datebox{
	margin-left:10px; 
} 

#shortdate, #editlink{
//	background: #efefef;
	background:@tag-background-light;
	color:#FFFFFF;
	border-radius:@tag-border-radius;
	padding:3px;  
	}                 

#tagcloud {
	padding:5px; 
	border-radius:@tag-border-radius;
	text-decoration: none;
	line-height:35px;  
	a {
		background:@tag-background;
		color:@tag-color;
		padding:5px; 
		border-radius:@tag-border-radius;
		text-decoration: none; 
		border: 1px solid grey;
	}
	a:hover {         
		background:@tag-hover;
	}
}          

.tags, #tags a {
	background: @tag-background;
	color:@tag-color;
	padding:5px; 
	border-radius:@tag-border-radius; 
	text-decoration: none; 
	line-height:40px;  
	&:hover {     
		background:@tag-hover;
	}
} 

#top{
	margin-bottom: 12px;
	margin-top: 20px;
	margin-left:@content-margin;
	display: table;
}                     

footer{
	display: table;  
	width: 100%;
	nav{
		display: table-cell;
		padding-left:@content-margin;	
		#synicate{
			display: table-cell;	
		}
	}
	ul{
		margin-bottom:8px;
	}
}

#content {       
	background: #FFFFFF; 
	border-radius: @general-border-radius;  
}

.event {
	border-top: 1px solid #f7f7f7;
	border-bottom: 1px solid #ececec;
	padding:5px @content-margin 5px @content-margin;
	&:first-child {
		border-top: none;
	}

	&:last-child {
		border-bottom: none;
	}
	header{
		display: table;
		h2{
			display: table-cell;
		}
		#shortdate{
			display: table-cell; 
			vertical-align:middle;
		}
	}
}        

.last {
	border-bottom:0px; 
}

#create {
	padding: 5px @content-margin;
	ul {
		list-style-type: none;
	}
}     

.errorlist {
    color: #f74440;
	background: @validate-error; 
	padding:3px;
}   

label {
  width: 130px;
  display: inline-block;
  padding: 5px;
}