<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=480, height=640, user-scalable=yes" />
    <title>Techism - IT-Events in München</title>
	<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png"/> 
	<link rel="icon" href="/static/images/favicon.ico" type="image/ico">              
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<!--link rel="stylesheet/less" href="/static/css/style.less" type="text/css" /-->
	<!--script src="/static/less/less-1.0.35.min.js" type="text/javascript" charset="utf-8"></script-->
  	<script type="text/javascript" src="/static/jquery/js/jquery-1.4.2.min.js"></script> 
    <script type="text/javascript" src="/static/jquery/js/jquery-ui-1.8.4.custom.min.js"></script>     
	<script src="../static/jquery/js/jquery.infinitescroll.js" type="text/javascript" charset="utf-8"></script>	
	<script type="text/javascript"> 
	$(document).ready(function(){
   	$(".detail").hide(); 
 	/*$("#admin").hide();*/
	/* clicks for touch interface */                 
	$('.event').live('click', function() {
		console.log("click!");
		$(this).children(".detail").slideToggle(300);
	});
	/*infinite scrolling*/
	$('#content').infinitescroll({
	  navSelector  : "a#nextpage:last",                  // selector for the paged navigation (it will be hidden)
	  nextSelector : "a#nextpage:last",                 // selector for the NEXT link (to page 2)
	  itemSelector : ".event",                         // selector for all items you'll retrieve
	},function(arrayOfNewElems){
	                 	console.log("call");
						  $(".detail").hide();
						 var showevents = $(".event").size();
						var eventsqty = {{ event_list.paginator.num_pages }}*2;
						if (showevents>eventsqty) $("#loadmore").hide(); 
						 console.log(showevents); 
					});
	// kill scroll binding
	$(window).unbind('.infscr');
	// hook up the manual click guy.
	$('#loadmore').click(function(){
	  $(document).trigger('retrieve.infscr');	
	  return;
	});
	// remove the paginator when we're done.
	$(document).ajaxError(function(e,xhr,opt){
	  if (xhr.status == 404) $('#nextpage a').remove();
	});
	});    


	</script> 
	
	
    {% block head %}{% endblock %}
</head>

<body>
  
		<section id="top">
			<nav>
				<ul>
				<li><h1><a href="/">Techism</a></h1></li>
				<li id="active"><a href="/events/">Events</a></li>
				<li><a href="/events/create">Event hinzufügen</a></li>
				</ul>
			</nav>
		</section>

    {% block content %}{% endblock %}
	<footer>                          
		<nav>
    		<ul>
    			<li>
    				<span class="current">
    					            Seite {{ event_list.number }} von {{ event_list.paginator.num_pages }}
    					        </span>
    			</li>
    		</ul>
	        
			<ul>
			<li><a href="/impressum/">Impressum</a></li>
	    	{% if user.is_authenticated %}
	      	  {{ user.email }}
	      	  {% if user.is_staff %}
	      	    <li><a href="/admin/">Admin</a></li> 
	      	  {% endif %}
	      	  	<li><a href="/accounts/logout/">Logout</a></li> 
	      	{% else %}
	      	  	<li><a href="/accounts/login/">Login</a></li>
	      	{% endif %}			                             
			</ul>           
			<ul id="syndicate">            
			<li><a href="http://techism.mixxt.de/networks/wiki/index.gruppen">Gruppen</a></li>
			<li><a href="/feed.ics">iCal</a></li>
			<li><a href="#">RSS</a></li>
			<li><a href="http://twitter.com/techism">Twitter</a></li>
			</ul>           
	</footer>
    
    {% block scripts %}{% endblock %}
</body>
</html>
