<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=440, height=320, user-scalable=yes" />
    <title>Techism</title>
	<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png"/> 
	<link rel="icon" href="/static/images/favicon.ico" type="image/ico">
    <link href="/static/css/style.css" media="screen" rel="stylesheet" type="text/css" />
  	<script type="text/javascript" src="/static/jquery/js/jquery-1.4.2.min.js"></script> 
    <script type="text/javascript" src="/static/jquery/js/jquery-ui-1.8.4.custom.min.js"></script> 
	<script type="text/javascript"> 
	$(document).ready(function(){
	$(".event h2 a").attr("href", "#event");
   	$(".detail").hide();  
	/* hover for mouse enabled devices */
/*
	$(".event").mouseenter(function() {
		$(this).children(".detail").slideToggle(300);
    });
	$(".event").mouseleave(function() {
		$(this).children(".detail").slideToggle(400);
    });  
*/
	/* clicks for touch interface */
	$(".event").click(function() {
		$(this).children(".detail").slideToggle(300);
    }); 

 	$(".event:last").addClass("last");

   });
	</script> 
	
	
	
    {% block head %}{% endblock %}
</head>

<body>
		<section id="admin">
        	{% if user.is_authenticated %}
          	  {{ user.email }}
          	  {% if user.is_staff %}
          	    <a href="/admin/">Admin</a> 
          	  {% endif %}
          	  <a href="/accounts/logout/">Logout</a> 
          	{% else %}
          	  <a href="/accounts/login/">Login</a>
          	{% endif %}
   	   	</section>
    
		<section id="top">
			<header>
				<h1><a href="/">Techism</a></h1>
			</header>
			<nav>
				<ul>
				<li id="active"><a href="/events/">Events</a></li>
				<li><a href="/events/create">Event hinzufügen</a></li>
				</ul>
			</nav>
		</section>

	  <section class="tag_cloud" id="tagcloud">
	    <ul >
	      {% for tag,count in tags.items %}
	      <li value="{{ count }}"><a href="/events/tags/{{ tag }}/">{{ tag }}</a> </li> 
	      {% endfor %}
	    </ul
	  </div>

    {% block content %}{% endblock %}
	<footer>                          
		<nav>
			<ul>
			<li><a href="/events/archive">Archiv</a></li>
			<li><a href="#">&Uuml;ber uns</a></li>
			<li><a href="/events/impressum/">Impressum</a></li>
			<li><a href="#">API</a></li>
			</ul>
		</nav>
		<nav id="syndicate">
			<ul>
			<li><a href="#">iCal</a></li>
			<li><a href="#">RSS</a></li>
			<li><a href="http://twitter.com/techism">Twitter</a></li>
			</ul>
		</nav>            
	</footer>
    
    {% block scripts %}{% endblock %}
</body>
</html>
