<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=440, height=320, user-scalable=yes" />
    <title>Techism - Open Source und Community Events in München</title>
	<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png"/> 
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin+Sans+Std+Light:regular&subset=latin">
	<link rel="icon" href="/static/images/favicon.ico" type="image/ico">              
	<link rel="stylesheet/less" href="/static/css/style.less" type="text/css" />
	<script src="/static/less/less-1.0.35.min.js" type="text/javascript" charset="utf-8"></script>
  	<script type="text/javascript" src="/static/jquery/js/jquery-1.4.2.min.js"></script> 
    <script type="text/javascript" src="/static/jquery/js/jquery-ui-1.8.4.custom.min.js"></script> 
	<script type="text/javascript"> 
	$(document).ready(function(){
	$(".event h2 a").attr("href", "#event");
   	$(".detail").hide(); 
 	$("#admin").hide();
	/* hover for mouse enabled devices */
/*
	$(".event").mouseenter(function() {
		$(this).children(".detail").slideToggle(300);
    });
	$(".event").mouseleave(function() {
		$(this).children(".detail").slideToggle(400);
    });  
*/
	/* clicks for touch interface */
	$(".event").click(function() {
		$(this).children(".detail").slideToggle(300);
    }); 

 	$(".event:last").addClass("last");

   });    



	</script> 
	
	
    {% block head %}{% endblock %}
</head>

<body>
		<section id="admin">
        	{% if user.is_authenticated %}
          	  {{ user.email }}
          	  {% if user.is_staff %}
          	    <a href="/admin/">Admin</a> 
          	  {% endif %}
          	  <a href="/accounts/logout/">Logout</a> 
          	{% else %}
          	  <a href="/accounts/login/">Login</a>
          	{% endif %}
   	   	</section>
   
		<section id="top">
			<nav>
				<ul>
				<li><h1><a href="/events/create">Techism</a></h1></li>
				<li id="active"><a href="/events/">Events</a></li>
				<li><a href="/events/create">Event hinzufügen</a></li>
				</ul>
			</nav>
		</section>

    {% block content %}{% endblock %}
	<footer>                          
		<nav>

			<ul>
			<li>
	        {% if event_list.has_previous %}
	            <a href="?page={{ event_list.previous_page_number }}">&laquo;</a>
	        {% endif %}
	        <span class="current">
	            Seite {{ event_list.number }} von {{ event_list.paginator.num_pages }}
	        </span>
	        {% if event_list.has_next %}
	            <a href="?page={{ event_list.next_page_number }}">&raquo;</a>
	        {% endif %}
			</li>
			</ul>			
			
			<ul>
			<li><a href="/events/archive">Archiv</a></li>
			<li><a href="#">&Uuml;ber uns</a></li>
			<li><a href="/events/impressum/">Impressum</a></li>
			</ul>           
			<ul id="syndicate">            
			<li><a href="#">API</a></li>
			<li><a href="#">iCal</a></li>
			<li><a href="#">RSS</a></li>
			<li><a href="http://twitter.com/techism">Twitter</a></li>
			</ul>           
	</footer>
    
    {% block scripts %}{% endblock %}
</body>
</html>
