{% load web_tags %}
<article class="event">
    <header>
             
	<div id="left">
		<h2><a id="{{ event.id }} event" href="#event">{{ event.title }}</a></h2>
	</div>            
       
	        {% if event.user == user or user.is_superuser %}
	<div id="right">         
	    <div id="edit"><a href="/events/edit/{{ event.id }}/">Edit</a></div> 
	</div>
	        {% endif %}

		<div id="right">
	<div id="shortdate">{{ event.get_date_time_begin_cet|display_date }}</div>
		</div>          
	   
    </header>  

    
    <section class="detail">
        <section id="what">
            <h3>Was</h3>  
            <p>{{ event.description|linebreaks }} <a id="url" href="{{ event.url }}">Website</a></p>
            <section id="tags">
                {% for tag in event.tags %}
                    <a {% ifequal tag_name tag %}class="selected"{% endifequal %} href="/events/tags/{{ tag }}/">{{ tag }}</a>
                {% endfor %}
            </section>
        </section>    
        <section id="when">
            <h3>Wann</h3>               
            <section id="begin">{{ event.get_date_time_begin_cet|display_date }}</section>
            {% if event.get_date_time_end_cet %} bis
                <section id="end">{{ event.get_date_time_end_cet|display_date }}</section>
            {% endif %}
        </section>  
        <section id="where"><h3>Wo</h3>
            {% if event.location.name and event.location.street and event.location.city %}
                <section id="location">
                <p>{{event.location.name}}, {{event.location.street}}, {{event.location.city}} 
                <a href="http://maps.google.de/maps?q={{event.location.street|urlencode}},{{ event.location.city|urlencode}},Bayern&z=17">Karte</a>
                </p>     
                </section>
                <a href="http://maps.google.de/maps?q={{event.location.street|urlencode}},{{ event.location.city|urlencode}},Bayern&z=17">
                <img src="http://maps.google.com/maps/api/staticmap?center=48.13788,11.575953&size=600x200&zoom=15&sensor=false" />       
                </a>
            {% else %}
                ist uns leider nicht bekannt...
            {% endif %}
        </section>
    </section>
</article>