{% load web_tags %}
<article class="event">
	<header> 
		<section class="header-content"> 
			<div class="title"> 
				<h2><a id="{{ event.id }} event" href="#event">{{ event.title }}</a></h2>
			</div> 
			<div class="edit"> 
				{% if event.user == user or user.is_superuser %}
					<div class="box">
					 	<a href="/events/edit/{{ event.id }}/">Edit</a>
					</div>
				{% endif %}
			</div>
			<div class="date">
				<div class="box">{{ event.get_date_time_begin_cet|display_date }} </div>
			</div> 
		</section>
	</header>
	<section class="detail">
        <section>
            <div>
                <a href="/events/{{ event.id }}/">Link zu dieser Detailseite</a>
            </div>
        </section>
	    
		<section class="what">
			<h3>Was</h3>
			<p class="description">	
				{{ event.description|linebreaks }} <a id="url" href="{{ event.url }}">Website</a>
			</p>
			<p id="tags">
				{% for tag in event.tags %}
					<a {% ifequal tag_name tag %}class="selected"{% endifequal %} href="/events/tags/{{ tag }}/">{{ tag }}</a>
				{% endfor %}
			</p>
		</section> 
		<section class="when">
			<h3>Wann</h3>
			<p class="date">
				{{ event.get_date_time_begin_cet|display_date }}
				{% if event.get_date_time_end_cet %} bis
					{{ event.get_date_time_end_cet|display_date }}
				{% endif %}
			</p>
		</section>
		<section class="where">
			<h3>Wo</h3>
			{% if event.location.name and event.location.street and event.location.city %}
				<p>	
					{{event.location.name}}, {{event.location.street}}, {{event.location.city}} 
					<a href="http://maps.google.de/maps?q={{event.location.street|urlencode}},{{ event.location.city|urlencode}},Bayern&z=17">Karte</a>
				</p>
				<p>
					<a href="http://maps.google.de/maps?q={{event.location.street|urlencode}},{{ event.location.city|urlencode}},Bayern&z=17">
						<img src="http://maps.google.com/maps/api/staticmap?center={{event.location.street|urlencode}},{{event.location.city|urlencode}},Bayern&size=600x200&zoom=15&sensor=false&markers=color:red|{{event.location.street|urlencode}},{{event.location.city|urlencode}},Bayern" />       
					</a>
				</p>
			{% else %}
				<p>
					ist uns leider nicht bekannt...	
				</p>
			{% endif %}
		</section>
	</section> 
</article>
