{% extends "base.html" %}

{% block head %}
  <link type="text/css" href="/static/jquery/css/ui-lightness/jquery-ui-1.8.4.custom.css" media="screen" rel="stylesheet"  />
{% endblock %}


{% block content %}
<section id="content">
  <form action="/events/create/" method="post">    
    {% csrf_token %}
    {{ form.id }}
    {{ form.title.label_tag }} {{ form.title }}<br>
    {{ form.dateBegin.label_tag }} {{ form.dateBegin }}<br>
    {{ form.dateEnd.label_tag }} {{ form.dateEnd }}<br>
    {{ form.url.label_tag }} {{ form.url }}<br>
    {{ form.description.label_tag }} {{ form.description  }}<br>
    <b>{{ form.location.label_tag }}</b><br>
    <div>
    vorhandene  auswählen: {{ form.location }}<br>
    </div><div>
    oder neue anlegen:<br>
    {{ form.location_name.label_tag }} {{ form.location_name }}<br>
    {{ form.location_street.label_tag }} {{ form.location_street }}<br>
    {{ form.location_city.label_tag }} {{ form.location_city }}<br>
    </div>
    {{ form.tags.label_tag }} {{ form.tags }}<br>     
    
    <input type="submit" value="Veranstaltung Eintragen" />
  </form>
</section>
{% endblock %}


{% block scripts %}
  <script type="text/javascript">
     $(function() {
         $("#id_dateBegin").datepicker({ dateFormat: 'yy-mm-dd' });
         $("#id_dateEnd").datepicker({ dateFormat: 'yy-mm-dd' });
     });
  </script>
{% endblock %}