{% extends "base.html" %}

{% block head %}
  <link type="text/css" href="/static/jquery/css/custom-theme/jquery-ui-1.8.5.custom.css" media="screen" rel="stylesheet"/>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript">
  var geocoder;
  var map;
  
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(48.13788,11.575953);
    var myOptions = {
      zoom: 15,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);  
  }
  google.maps.event.addDomListener(window, 'load', initialize);
  
  function displayAddress(){
    var street = document.getElementById("id_{{ form.location_street.html_name }}").value;
    var city = document.getElementById("id_{{ form.location_city.html_name }}").value;
    var address = street +","+city+","+ "Bayern";
    
    if (geocoder) {
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map, 
              position: results[0].geometry.location,
              draggable: true
          });
        } else {
          document.getElementById("map_error").innerHTML="Geocode war nicht erfolgreich: " + status;
        }
      });
    }
  }
</script>
{% endblock %}


{% block content %}
<section id="content">
    {% if not user.is_authenticated %}
    Du bist nicht eingeloggt. Wenn Du Dich <a href="/accounts/login/">einloggst</a>, wird
    das Event mit Deinem Account verknüpft und Du kannst das Event später bearbeiten.
    {% endif %}

    {{ error }}

  <form action="/events/create/" method="post">    
    {% csrf_token %}
    {{ form.id }}
    
    {{ form.title.errors }}
    {{ form.title.label_tag }} {{ form.title }}<br>
    
    {{ form.dateTimeBegin.errors }}
    {{ form.dateTimeBegin.label_tag }} {{ form.dateTimeBegin }}<br>
    
    {{ form.dateTimeEnd.errors }}
    {{ form.dateTimeEnd.label_tag }} {{ form.dateTimeEnd }}<br>
    
    {{ form.url.errors }}
    {{ form.url.label_tag }} {{ form.url }}<br>
    
    {{ form.description.errors }}
    {{ form.description.label_tag }} {{ form.description  }}<br>
    
    {{ form.tags.errors }}
    {{ form.tags.label_tag }} {{ form.tags }}<br><br> 
    
    <b>{{ form.location.label_tag }}</b><br>
    vorhandene  auswählen: {{ form.location }}<br>
    oder neue anlegen:<br>
    
    {{ form.location_name.errors }}
    {{ form.location_name.label_tag }} {{ form.location_name }}<br>
    
    {{ form.location_street.errors }}
    {{ form.location_street.label_tag }} {{ form.location_street }}<br>
    
    {{ form.location_city.errors }}
    {{ form.location_city.label_tag }} {{ form.location_city }}<br>
    <input onclick="displayAddress()" type="button" value="Adresse in Google Maps anzeigen"><div id="map_error"></div>
    <div id="map_canvas" style="height: 400px; width: 600px"></div>
    <input type="submit" value="Event hinzufügen" />
  </form>
  
</section>
{% endblock %}


{% block scripts %}
  <script type="text/javascript">
     $(function() {
         $("#id_dateTimeBegin_0").datepicker({ dateFormat: 'yy-mm-dd' });
         $("#id_dateTimeEnd_0").datepicker({ dateFormat: 'yy-mm-dd' });
     });
  </script>
{% endblock %}
