{% extends "base.html" %}

{% block head %}
  <link type="text/css" href="/static/jquery/css/ui-lightness/jquery-ui-1.8.4.custom.css" media="screen" rel="stylesheet"  />
{% endblock %}


{% block content %}
  <form action="/events/create/" method="post">    
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Veranstaltung Eintragen" />
  </form>
{% endblock %}


{% block scripts %}
  <script type="text/javascript">
     $(function() {
         $("#id_dateBegin").datepicker({ dateFormat: 'yy-mm-dd' });
         $("#id_dateEnd").datepicker({ dateFormat: 'yy-mm-dd' });
     });
  </script>
{% endblock %}