<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>Event Übersicht</title>
    <link href="../../resources/css/styles.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>
        <hgroup>
            <h1>techism</h1>
            <h2>Events, Projekte und User Groups in M&uuml;nchen</h2>
        </hgroup>
    </header>

  {% if event %}
            <h3><a href="/events/{{ event.id }}/">{{ event.title }}</a></h3>
            {{ event.dateBegin }}<br>
            <a href="{{ event.url }}">{{ event.url }}</a><br>
            {{ event.description }}<br>
  {% else %}
      <p>No events are available.</p>
  {% endif %}
</body>