{% extends "base.html" %}

{% block head %}
  <link type="text/css" href="/static/jquery/css/custom-theme/jquery-ui-1.8.5.custom.css" media="screen" rel="stylesheet"/>
{% endblock %}


{% block content %}
<section id="content">
    {{ error }}
  <form action="" method="post">    
    {% csrf_token %}
    {{ form.id }}
    {{ form.title.label_tag }} {{ form.title }}<br>
    {{ form.date_time_begin.label_tag }} {{ form.date_time_begin }}<br>
    {{ form.date_time_end.label_tag }} {{ form.date_time_end }}<br>
    {{ form.url.label_tag }} {{ form.url }}<br>
    {{ form.description.label_tag }} {{ form.description  }}<br>
    {{ form.tags.label_tag }} {{ form.tags }}<br>     
    
    <input type="submit" value="Veranstaltung Ändern" />
  </form>
</section>
{% endblock %}


{% block scripts %}
  <script type="text/javascript">
     $(function() {
         $("#id_date_time_begin_0").datepicker({ dateFormat: 'yy-mm-dd' });
         $("#id_date_time_end_0").datepicker({ dateFormat: 'yy-mm-dd' });
     });
  </script>
{% endblock %}