{% extends "base.html" %}

{% block head %}
    <script type="text/javascript"> 
    $(document).ready(function(){
    $(".detail").hide(); 
    /*$("#admin").hide();*/
    /* clicks for touch interface */                 
    $('.event').live('click', function() {
        console.log("click!");
        $(this).children(".detail").slideToggle(300);
    }); 


    /*infinite scrolling*/
    $('#content').infinitescroll({
      navSelector  : "a#nextpage:last",                  // selector for the paged navigation (it will be hidden)
      nextSelector : "a#nextpage:last",                 // selector for the NEXT link (to page 2)
      itemSelector : ".event",                         // selector for all items you'll retrieve
    },function(arrayOfNewElems){
                        console.log("call");
                          $(".detail").hide();
                         var showevents = $(".event").size();
                        var eventsqty = {{ event_list.paginator.num_pages }}*2;
                        if (showevents>eventsqty) $("#loadmore").hide(); 
                         console.log(showevents); 
                    });
    // kill scroll binding
    $(window).unbind('.infscr');
    // hook up the manual click guy.
    $('#loadmore').click(function(){
      $(document).trigger('retrieve.infscr');   
      return;
    });
    // remove the paginator when we're done.
    $(document).ajaxError(function(e,xhr,opt){
      if (xhr.status == 404) $('#nextpage a').remove();
    });

    });    
    </script> 
{% endblock %}


{% block content %}
<section id="content">
    {% if event_list %}
        {% for event in event_list.object_list %} 
            {% include "events/_event_details.html" %}
        {% endfor %}   
        {% if event_list.has_next or event_list.has_previous %}
            <article class="event">
                <header>
                    <h2>
                        {% if event_list.has_previous %}
                            <a href="?page={{ event_list.previous_page_number }}">&laquo;</a>
                        {% endif %}
                        {% if event_list.has_next %}
                            <a href="?page={{ event_list.next_page_number }}">&raquo;</a>
                        {% endif %} 
                    </h2>
                </header>
            </article>
        {% endif %}
    {% else %}
        <p>No events are available.</p>
    {% endif %}  
</section>

{% include "events/_tagcloud.html" %}

{% endblock %}
