{% extends "base.html "%}
{% block content %}

  {% if latest_event_list %}
      {% for event in latest_event_list %}
      	<div class="event_short">
  	        <h3><a href="/events/{{ event.id }}/">{{ event.title }}</a></h3>
  	        {{ event.dateBegin }}<br>
  	        <a href="{{ event.url }}">{{ event.url }}</a>
          </div>
      {% endfor %}
  {% else %}
      <p>No events are available.</p>
  {% endif %}
  
  {% if request.user.is_authenticated %}
    <a href="">neues Event anlegen</a>
  {% endif %}
{% endblock %}