{% extends "base.html" %}
{% block content %}

  <h3>Events, die mit '{{ tag_name }}' getaggt sind</h3>

  {% if event_list %}
      {% for event in event_list %}
      	<div class="event_short">
  	        <h3><a href="/events/{{ event.id }}/">{{ event.title }}</a></h3>
  	        {{ event.dateBegin }}<br>
  	        <a href="{{ event.url }}">{{ event.url }}</a>
          </div>
      {% endfor %}
  {% else %}
      <p>No events are available.</p>
  {% endif %}
  
  <div class="clear_left"/>
  
  <a href="/events">Zu den aktuellen Veranstaltungen</a>
  
  <div class="clear_left"/>
  
  <div class="tag_cloud" id="tagcloud">
    Tag Cloud
    <ul>
      {% for tag,count in tags.items %}
      <li value="{{ count }}"><a href="/events/tags/{{ tag }}/">{{ tag }}</a> </li> 
      {% endfor %}
    </ul
  </div>
{% endblock %}

{% block scripts %}  
  <script type="text/javascript" src="/static/jquery/js/jquery-1.4.2.min.js"></script> 
  <script type="text/javascript" src="/static/jquery/js/jquery-tagcloud-0.5.0.min.js"></script> 
  <script type="text/javascript" src="/static/jquery/js/jquery-tinysort-1.0.1.min.js"></script> 
  <script type="text/javascript">
$(function(){
  $("#tagcloud>ul").tagcloud({type:"list",colormin:"2FF21D",colormax:"2FF21D"}).find("li").tsort();
});
  </script>
{% endblock %}
